body {
    margin: 0;
    font-family: Arial, sans-serif;

    flex-direction: column;
    /* Disposición en columna para el cuerpo */
    min-height: 100vh;
    /* Mínima altura igual a la altura de la ventana */

    position: relative;

    text-align: left;
  }
   /*--------------*/
   .card_old {  
    background-color: #d7bd28; /* Color de fondo */  
    border-radius: 10px; /* Bordes redondeados */  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */  
    width: 80%;   
    display: flex; /* Usar flexbox para dividir en columnas */  
    padding: 20px; /* Espaciado interno */  
}  
.card {  
  background-color: transparent; /* Sin color de fondo para que se observe el fondo detrás */  
  border-radius: 10px; /* Bordes redondeados */  
  border: 1px solid rgba(0, 0, 0, 0.2); /* Borde delgado con sombra */  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */  
  width: 100%;   
  display: flex; /* Usar flexbox para dividir en columnas */  
  padding: 20px; /* Espaciado interno */  
}  

.left-column {  
    display: flex;  
    flex-direction: column; /* Coloca los elementos en columna */  
    align-items: center; /* Centra los elementos horizontalmente */  
    margin-right: 20px; /* Espacio a la derecha para separación */  
    width: 40%;  
}  

.right-column {  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    width: 50%;  
    text-align: center; 
    align-items: center; 
}  

.card-img {  
    max-width: 100%; /* Ancho máximo para la imagen */  
    border-radius: 10px; /* Bordes redondeados para la imagen */  
    margin-bottom: 10px; /* Espacio debajo de la imagen */  
}  

.card-title {  
    font-size: 20px; /* Tamaño de fuente para el título */  
    margin-bottom: 10px; /* Espacio debajo del título */  
}  

.card-price {  
    font-size: 18px; /* Tamaño de fuente para el precio */  
    margin-bottom: 10px; /* Espacio debajo del precio */  
}  

.card-text {  
  background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */  
  border: 1px solid rgba(0, 0, 0, 0.2); /* Borde delgado con sombra */  
  border-radius: 10px; /* Bordes redondeados */  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada */  
  padding: 10px; /* Espaciado interno */  
  margin-top: 10px; /* Espacio superior para separar del contenido previo */  
  display: none; /* Ocultar inicialmente */  
  width: 100%;
  font-size: 1.1vw;
  font-family: 'Roboto';
}  

.btn_card {  
    background-color: #007bff; /* Color del botón */  
    color: white; /* Color del texto del botón */  
    padding: 10px 15px; /* Espaciado interno del botón */  
    border: none; /* Sin borde */  
    border-radius: 5px; /* Bordes redondeados */  
    text-decoration: none; /* Sin subrayado */  
    cursor: pointer; /* Cambia el cursor al pasar */  
    margin-bottom: 10px; /* Espacio inferior al botón */  
}  

.btn_card:hover {  
    background-color: #0056b3; /* Color de fondo al pasar el cursor */  
}  

.btn_detail {  
    background-color: #3B82F6; /* Color del botón de detalles */  
    color: white; /* Color del texto del botón de detalles */  
    padding: 10px 15px; /* Espaciado interno */  
    border: none; /* Sin borde */  
    border-radius: 2vw; /* Bordes redondeados */  
    cursor: pointer; /* Cambia el cursor al pasar */  
    text-align: center; /* Centrar texto */  
    margin-top: 10px; /* Espacio superior al botón de detalles */  
    width: 40%; 
    height: 2vw; 
}  

.btn_detail:hover {  
    background-color: #218838; /* Color de fondo al pasar el cursor */  
} 
   /****************/
   .custom-select_datos {  
    width: 95%;  
    height: 2vw;  
    border-radius: 0.5vw; /* Bordes redondeados */  
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borde delgado con color negro semitransparente */  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave */  
    background-color: white; /* Fondo blanco para que el contenido sea legible */  
    padding: 0 5px; /* Espacio interno para el texto */  
    /* margin-top: -0.5vw; */  
}



  .button-get{
    width: 60%; 
    height: 3vw; 
    border-radius: 2vw; 
    border-color: #3B82F6; 
    text-align: center; 
    background-color:#3B82F6 ; 
    color:#fff;

  }
  #main-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* margin: 20px; */
    width: 100%;
    margin-bottom: 0.5vw;
  }  
  #shoosecontainer{
   /* height: 100vh; */
    display:flex; 
    /*background-color: #33FF57;*/
     margin-top: -13vw;

  }
  .butondatos2-div{
    height: 2vw; background-color: rgba(181, 181, 181, 1); border-radius: 0.5vw;
  }
  .Enter-div{
    margin-top: 0.1vw !important; 
    height: 1vw !important;
  }
  .Almost-div{
    height: 2vw;margin-bottom: 0.1vw; /*background-color: brown;*/
  }
  .Back-div{
    margin-top: -30vw;
    background-color: #fff;
     width: 100% !important;
    justify-content: left !important;
  }

  .outer-container {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    height: 100hv;  
  }  
  
  .inner-container {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    height: 50%;  
    width: 50%;
  }  
  .inner-container_datos {  
    display: flex;  
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    height: 58%;  
    width: 60%;
    padding: auto;
  }
   
    .inner-div_datos {
      display: flex ;
      color: rgb(6, 5, 5);
      padding: 0.1vw;
      border-radius: 5px;
      height: 2vw;
      /*align-items: center;*/
      flex-direction: column;
  } 
  .inner-div_card {
    display: flex ;
    color: rgb(6, 5, 5);
    padding: 0.1vw;
    border-radius: 5px;
    height: 2vw;
    /*align-items: center;*/
    flex-direction: column;
}   
  .full-width_datos {  
    width: 100%; /* Primera div ocupa el 100% de ancho */  
    color: #081015;
}  
.full-width_datos_card {  
  width: 100%; /* Primera div ocupa el 100% de ancho */  
  color: #081015;
}  

.half-width_datos {  
    width: 45.6%; /* Otras divs ocuparán el 50% de ancho */  
    height: auto;
    font-family: 'Roboto';
} 
  



  .inner-div {  
    width: 60%;  
    height: 100px;  
   /* background-color: #ccc; */ 
    margin: 10px 0;  
    display: flex;  
    justify-content: center;  
    align-items: center;  
  }  
  .inner-div h1 {  
    font-family: 'Montserrat', sans-serif;  
    font-weight: bold;  
    margin: 0; /* Opcional: quitar el margen predeterminado de la etiqueta <h1> */  
  } 
  .inner-div input.full-width {  
    width: 100%;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    border: 1px solid #ccc;  
    padding: 8px 12px;  
    font-size: 14px;  
    border-radius: 0.5vw;
  } 
  inner-div button.full-width {  
    width: 100%;  
    background-color: #0b1118;  
    color: #fff;  
    border: none;  
    padding: 10px 16px;  
    font-size: 16px;  
    border-radius: 4px;  
    cursor: pointer;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    transition: background-color 0.3s ease;  
    height: 2vw;
  }  
  
  .inner-div button.full-width:hover {  
    background-color: #0056b3;  
  } 
  
  .full-width {  
    width: 100%;  
    /*height: 1vw;*/
  }  
  .input-container {
    position: relative;
    /* Para posicionar el ícono en relación al input */
    margin-bottom: 1em;
    /* Espacio inferior */
  }
  .input-container_datos {
    position: relative;
    /* Para posicionar el ícono en relación al input */
   /* margin-bottom: 1em;*/
    /* Espacio inferior */
  }
  .inputcontainerdatos {
   
    width: 100%;
    margin-bottom: 0;
   }

   .input-container input {  
    width: 97%; /* Ancho del 97% */  
    border-radius: 1vw; /* Bordes redondeados */  
    height: 2vw; /* Altura del campo de entrada */  
    padding-left: 2.5em; /* Espacio en la izquierda para el texto */  
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borde delgado con color negro semitransparente */  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave alrededor del campo */  
    background-color: white; /* Fondo blanco para mejorar la legibilidad */  
   } 
  .input-descrip
  {
    margin-top:-11vw;
  }
  .imap-container{
    height: 45%;
    width: 100%;
    border-radius: 1vw;
  }

  .input-descrip input {
    width: 97%;
    /* Ancho completo */
    border-radius: 0.5vw;
    /* Bordes redondeados */
    height: 1.7vw;
    /* Altura del input */
    padding-left: 2.5em;
    /* Espacio a la izquierda para el ícono */
  }

  .icon {
    position: absolute;
    /* Posicionamiento absoluto para el ícono */
    left: 0.5em;
    /* Ajusta según tus preferencias */
    top: 50%;
    /* Para centrar verticalmente */
    transform: translateY(-50%);
    /* Ajuste para centrar con precisión */
    color: #888;
    /* Color del ícono */
  }

  #header {
    background: #263037;
    width: 100%;
    height: 70px;
    /* Altura del header */
    color: white;
   
    text-align: left;
    display: flex;
    align-items: center;
    /* Alinea el contenido verticalmente */
  }

  #header img {
    width: 109px;
    /* Ancho de la imagen */
    height: 26px;
    /* Alto de la imagen */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
  }

  #footer {
    background: #263037;
    color: white;
    height: 50px;
    /* Altura del header */
    text-align: center;
    width: 100%;
    padding: 1em 0;
    margin-top: auto;
    /* Permitir que el footer se sitúe al final del contenido */
  }

  #container {
    display: flex;
    flex: 1;
    /* Hacer que el contenedor llene el espacio restante */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas pequeñas */

  }

  #map-container,
  #data-container,
  #extra-container {

    box-sizing: border-box;
    min-width: 100px;
    /* Establecer un ancho mínimo */
    height: auto;
    /* Permitir que crezca con el contenido */
  }
  .flex-container {  
  flex: 0 48%;  
  margin-bottom: 1em;  
  
  display: flex;  
  flex-wrap: wrap;  
}  

.color-box {  
  width: 40%;  
 
}  

.select-container {  
  width: 60%;  
 
  text-align: left; /* Cambiar a 'right' si es necesario */  
}  

.select-container.right {  
  text-align: right;  
}  

.custom-select {  
  width: 95%;  
  height: 2vw;  
 /* margin-top: -0.5vw;  */
  border-radius: 0.5vw;  
}
.custom-select2 {  
  width: 80%;  
  height: 2vw;  
  margin-top: -0.5vw;  
  border-radius: 0.5vw; 
  align-content: space-between; 
}
.flex-wrapper {  
  display: flex;  
  flex-wrap: wrap;  
  justify-content: space-between;  
}  

.flex-item {  
  flex: 0 48%;  
  margin-bottom: 1em;  
 
  display: flex;  
  flex-wrap: wrap;  
}  

.color-box {  
  width: 40%;  
  
}  

.flex-label {  
  width: 60%;  
   
  text-align: left; /* Alinear el texto a la izquierda */  
  margin-left: 1.4vw; /* Aplicar margen izquierdo para el segundo contenedor */  
}  
.flex-label2 {  
  width: 60%;  

 
 
} 
.roofing-select.select2-container {  
  margin-left: 5vw; /* Margen izquierdo para el select específico con clase `roofing-select` */  
}  
.select2-container {
margin-left: 1vw;
  width: 95% !important;
  height: 2vw;
  /* margin-top: -0.5vw; */
  border-radius: 0.5vw;
}
.select2-container--default .select2-selection--single {
border-radius: 0.5vw !important;
height: 2vw !important;
}
.select2-container--open .select2-dropdown--below {
  
  margin-left: -1vw;
}
.div-select{
  width: 40%;
}

  /* Estilos específicos para pantallas grandes */
  @media (min-width: 900px) {

  
    #map-container {
      width: 20%;
      /* Ancho del 20% */

    }

    #data-container {
      width: 20%;
      /* Restante para el contenedor de datos */

    }

    #titulo1 {
      font-family: montserrat;
      font-weight: bold;
      font-size: 40px;
    }

    #titulo2 {
      font-family: roboto;
      font-weight: normal;
      font-size: 1.172vw;
      color: #081015;
    }

    #extra-container {
      width: 60%;
      /* Ancho del 20% */

      text-align: center;
      min-height: 100vh;
    }
    .you-need{
      font-size: 0.8vw;
    }
    .div-you-need{
      height: 2.099vh; width: 20vw; margin-bottom: 1.1vw;margin-top: -1vw;
    }
  }

  /* Estilos para pantallas más pequeñas */
  @media (max-width: 899px) {
    #main-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      /* margin: 20px; */
      width: 100%;
      margin-bottom: 3vw;
  }

    .card-text {
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
      padding: 10px;
      margin-top: 10px;
      display: none;
      width: 100%;
      font-size: 2vw;
      font-family: 'Roboto';
  }

    .btn_detail {  
      background-color: #3B82F6; /* Color del botón de detalles */  
      color: white; /* Color del texto del botón de detalles */  
      padding: 10px 15px; /* Espaciado interno */  
      border: none; /* Sin borde */  
      border-radius: 2vw; /* Bordes redondeados */  
      cursor: pointer; /* Cambia el cursor al pasar */  
      text-align: center; /* Centrar texto */  
      margin-top: 10px; /* Espacio superior al botón de detalles */  
      width: 80%; 
      height: 10vw; 
     } 
     

    .custom-select_datos {
      width: 98%;
      height: 6vw;
      border-radius: 0.5vw;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      background-color: white;
      padding: 0 5px;
      /* margin-top: -0.5vw; */
  }
    #shoosecontainer {
      /* height: 100vh; */
      display: flex
  ;
      /*background-color: #33FF57;*/
      margin-top: -25vw;
  }
    .full-width_datos {
      width: 100%;
      color: #081015;
      margin-bottom: 1vw;
      font-size: 2.5vw;
    }
    .full-width_datos_card {
      width: 100%;
      color: #081015;
      margin-bottom: 1vw;
    }
    .inner-container_datos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 58%;
      width: 90%;
      margin-top: -90vw;
      padding: auto;
      font-size: 2.2vw;
     }

    .button-get{
      width: 90%;
      height: 8vw;
      border-radius: 2vw;
      border-color: #3B82F6;
      text-align: center;
      background-color: #3B82F6;
      color: #fff;
      margin-top: 5vw;
      margin-bottom: 4vw;
  
    }
    .butondatos2-div{
      height: 8vw; background-color: rgba(181, 181, 181, 1); border-radius: 0.5vw;
    }
    .Enter-div{
       margin-top: 0.1vw;
       height: 1vw;
    }
    .inner-div {  
      width: 80%;  
      height: 10vw !important; 
     /* background-color: #ccc; */ 
      margin: 10px 0;  
      display: flex;  
      justify-content: center;  
      align-items: center;  
    } 
    .Almost-div{
      height: 20vw;margin-bottom: 0.1vw;/* background-color: brown;*/
    }
    .Back-div{
      margin-top: -30vw;
      background-color: #fff;
       width: 100% !important;
      justify-content: left !important;
      margin-bottom: 20vw;
    }
    .inner-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 95%;
          width: 100%;
         /* background-color: #7136fb !important;*/
      }

    .select2-container--default .select2-selection--single {
      border-radius: 0.5vw !important;
      height: 6vw !important;
     
      text-align: left !important;
      font-size: 3vw;
      }
    .select2-selection--single {
      border-radius: 0.5vw !important;
      height: 6vw !important;
      border-radius: 1.5vw !important;
  }

    .div-select{
      width: 100%;
    }
    .option-form{
      font-weight: normal;
      display: block;
      padding-block-start: 0px;
      padding-block-end: 1px;
      min-block-size: 1.2em;
      padding-inline: 2px;
      white-space: nowrap;
    }
    .input-descrip input {
      width: 97%;
      border-radius: 0.5vw;
      height: 2.7vw;
      padding-left: 1vw;
    }
    #header img {
      width: 109px;
      height: 26px;
      margin-right: 10px;
      margin-left: 10vw;
  }
    .color-box {  
      width: 10%;  
     
    } 
    .select-container {
      width: 90%;
      text-align: left;
  }
    .you-need{
      font-size: 2vw;
    }
    .div-you-need{
      height: 2.099vh; width: 30vw; margin-bottom: 1.1vw;margin-top: -1vw;
    }
    #footer {
      background: #263037;
      color: white;
      height: 50px;
      text-align: center;
      font-size: 3vw;
      width: 100%;
      padding: 1em 0;
      margin-top: auto;
  }

    #map-container,
    #data-container,
    #extra-container {
      width: 100%;
      /* Ancho completo en pantallas pequeñas */
      min-height: 100vh;
    }

    #div-titulo2 {
      width: 59.34vw;
      margin-left: 5vw;
      text-align: left;
      font-size: 10px;

    }

    #map-container {
      margin-left: 5vw;
    }

    #container {
      margin-left: 5vw;
      width: 90%;

    }
    .imap-container {
      height: 30%;
      width: 100%;
      border-radius: 1vw;
      margin-top: -2vw;
     }



    #map-container,
    #data-container {
      display: none;
      /* Ancho completo en pantallas pequeñas */
    }

    #footer {
      display: visible;
      /* Ancho completo en pantalla*/
    }
    .input-descrip
  {
    margin-top:-100vw;
    font-size: 2.5vw;
  }
  .input-container input {
    width: 90%;
    /* Ancho completo */
    border-radius: 1vw;
    /* Bordes redondeados */
    height: 5vw;
    /* Altura del input */
    padding-left: 2.5em;
    /* Espacio a la izquierda para el ícono */
  }
  #calculateInput{
      width: 40vw !important;
      height: 7vw !important;
      border-radius: 2vw;
      border-color: #36B4FB;
      margin-top: 4vw;
  } 
  #return-boton{
    width: 40vw !important;
      height: 7vw !important;
      border-radius: 2vw;
      border-color: #36B4FB;
      margin-top: 4vw;
  }
  #calculateAreaBtn
  {
    width: 90% !important;
      height: 7vw !important;
      border-radius: 2vw;
      border-color: #36B4FB;
      margin-top: 4vw;
  }
  .custom-select {
    width: 95%;
    height: 6vw;
    /* margin-top: -0.5vw; */
    border-radius: 0.5vw;
    font-size: 4vw;
}
  }
