body {
    margin: 0;
    font-family: Arial, sans-serif;

    flex-direction: column;
    /* Disposición en columna para el cuerpo */
    min-height: 100vh;
    /* Mínima altura igual a la altura de la ventana */

    position: relative;

    text-align: left;
  }

  .input-container {
    position: relative;
    /* Para posicionar el ícono en relación al input */
    margin-bottom: 3em;
    /* Espacio inferior */
  }

  .input-container input {
    width: 97%;
    /* Ancho completo */
    border-radius: 1vw;
    /* Bordes redondeados */
    height: 2vw;
    /* Altura del input */
    padding-left: 2.5em;
    /* Espacio a la izquierda para el ícono */
  }
  .input-descrip
  {
    margin-top:-11vw;
  }
  .imap-container{
    height: 40%;
    width: 100%;
    border-radius: 1vw;
  }

  .input-descrip input {
    width: 97%;
    /* Ancho completo */
    border-radius: 0.5vw;
    /* Bordes redondeados */
    height: 1.7vw;
    /* Altura del input */
    padding-left: 2.5em;
    /* Espacio a la izquierda para el ícono */
  }

  .icon {
    position: absolute;
    /* Posicionamiento absoluto para el ícono */
    left: 0.5em;
    /* Ajusta según tus preferencias */
    top: 50%;
    /* Para centrar verticalmente */
    transform: translateY(-50%);
    /* Ajuste para centrar con precisión */
    color: #888;
    /* Color del ícono */
  }

  #header {
    background: #263037;
    width: 100%;
    height: 70px;
    /* Altura del header */
    color: white;
   
    text-align: left;
    display: flex;
    align-items: center;
    /* Alinea el contenido verticalmente */
  }

  #header img {
    width: 109px;
    /* Ancho de la imagen */
    height: 26px;
    /* Alto de la imagen */
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
  }

  #footer {
    background: #263037;
    color: white;
    height: 50px;
    /* Altura del header */
    text-align: center;
    width: 100%;
    padding: 1em 0;
    margin-top: auto;
    /* Permitir que el footer se sitúe al final del contenido */
  }

  #container {
    display: flex;
    flex: 1;
    /* Hacer que el contenedor llene el espacio restante */
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en pantallas pequeñas */

  }

  #map-container,
  #data-container,
  #extra-container {

    box-sizing: border-box;
    min-width: 100px;
    /* Establecer un ancho mínimo */
    height: auto;
    /* Permitir que crezca con el contenido */
  }
  .flex-container {  
  flex: 0 48%;  
  margin-bottom: 1em;  
  
  display: flex;  
  flex-wrap: wrap;  
}  

.color-box {  
  width: 40%;  
 
}  

.select-container {  
  width: 60%;  
 
  text-align: left; /* Cambiar a 'right' si es necesario */  
}  

.select-container.right {  
  text-align: right;  
}  

.custom-select {  
  width: 95%;  
  height: 2vw;  
 /* margin-top: -0.5vw;  */
  border-radius: 0.5vw;  
}
.custom-select2 {  
  width: 80%;  
  height: 2vw;  
  margin-top: -0.5vw;  
  border-radius: 0.5vw; 
  align-content: space-between; 
}
.flex-wrapper {  
  display: flex;  
  flex-wrap: wrap;  
  justify-content: space-between;  
}  

.flex-item {  
  flex: 0 48%;  
  margin-bottom: 1em;  
 
  display: flex;  
  flex-wrap: wrap;  
}  

.color-box {  
  width: 40%;  
  
}  

.flex-label {  
  width: 60%;  
   
  text-align: left; /* Alinear el texto a la izquierda */  
  margin-left: 1.4vw; /* Aplicar margen izquierdo para el segundo contenedor */  
}  
.flex-label2 {  
  width: 60%;  

 
 
} 
.roofing-select.select2-container {  
  margin-left: 5vw; /* Margen izquierdo para el select específico con clase `roofing-select` */  
}  
.select2-container {
margin-left: 1vw;
  width: 95% !important;
  height: 2vw;
  /* margin-top: -0.5vw; */
  border-radius: 0.5vw;
}
.select2-container--default .select2-selection--single {
border-radius: 0.5vw !important;
height: 2vw !important;
}
.select2-container--open .select2-dropdown--below {
  
  margin-left: -1vw;
}
.div-select{
  width: 40%;
}

  /* Estilos específicos para pantallas grandes */
  @media (min-width: 900px) {
  
    #map-container {
      width: 20%;
      /* Ancho del 20% */

    }

    #data-container {
      width: 20%;
      /* Restante para el contenedor de datos */

    }

    #titulo1 {
      font-family: montserrat;
      font-weight: bold;
      font-size: 40px;
    }

    #titulo2 {
      font-family: roboto;
      font-weight: normal;
      font-size: 1.172vw;
      color: #081015;
    }

    #extra-container {
      width: 60%;
      /* Ancho del 20% */

      text-align: center;
      min-height: 100vh;
    }
    .you-need{
      font-size: 0.8vw;
    }
    .div-you-need{
      height: 2.099vh; width: 20vw; margin-bottom: 1.1vw;margin-top: -1vw;
    }
  }

  /* Estilos para pantallas más pequeñas */
  @media (max-width: 899px) {
    .select2-container--default .select2-selection--single {
      border-radius: 0.5vw !important;
      height: 6vw !important;
     
      text-align: left !important;
      font-size: 3vw;
      }
    .select2-selection--single {
      border-radius: 0.5vw !important;
      height: 6vw !important;
      border-radius: 1.5vw !important;
  }

    .div-select{
      width: 100%;
    }
    .option-form{
      font-weight: normal;
      display: block;
      padding-block-start: 0px;
      padding-block-end: 1px;
      min-block-size: 1.2em;
      padding-inline: 2px;
      white-space: nowrap;
    }
    .input-descrip input {
      width: 97%;
      border-radius: 0.5vw;
      height: 2.7vw;
      padding-left: 1vw;
    }
    #header img {
      width: 109px;
      height: 26px;
      margin-right: 10px;
      margin-left: 10vw;
  }
    .color-box {  
      width: 10%;  
     
    } 
    .select-container {
      width: 90%;
      text-align: left;
  }
    .you-need{
      font-size: 2vw;
    }
    .div-you-need{
      height: 2.099vh; width: 30vw; margin-bottom: 1.1vw;margin-top: -1vw;
    }
    #footer {
      background: #263037;
      color: white;
      height: 50px;
      text-align: center;
      font-size: 3vw;
      width: 100%;
      padding: 1em 0;
      margin-top: auto;
  }

    #map-container,
    #data-container,
    #extra-container {
      width: 100%;
      /* Ancho completo en pantallas pequeñas */
      min-height: 100vh;
    }

    #div-titulo2 {
      width: 59.34vw;
      margin-left: 5vw;
      text-align: left;
      font-size: 10px;

    }

    #map-container {
      margin-left: 5vw;
    }

    #container {
      margin-left: 5vw;
      width: 90%;

    }
    .imap-container{
    height: 40%;
    width: 100%;
    border-radius: 1vw;
    margin-top: -7vw  ;
  }



    #map-container,
    #data-container {
      display: none;
      /* Ancho completo en pantallas pequeñas */
    }

    #footer {
      display: visible;
      /* Ancho completo en pantalla*/
    }
    .input-descrip
  {
    margin-top:-80vw;
    font-size: 2.5vw;
  }
  .input-container input {
    width: 90%;
    /* Ancho completo */
    border-radius: 1vw;
    /* Bordes redondeados */
    height: 6vw;
    /* Altura del input */
    padding-left: 2.5em;
    /* Espacio a la izquierda para el ícono */
  }
  #calculateInput{
      width: 40vw !important;
      height: 7vw !important;
      border-radius: 2vw;
      border-color: #36B4FB;
      margin-top: 4vw;
  } 
  #return-boton{
    width: 40vw !important;
      height: 7vw !important;
      border-radius: 2vw;
      border-color: #36B4FB;
      margin-top: 4vw;
  }
  #calculateAreaBtn
  {
    /*width: 40vw !important;*/
      height: 7vw !important;
      border-radius: 2vw;
      border-color: #36B4FB;
      margin-top: 4vw;
  }
  .custom-select {
    width: 95%;
    height: 6vw;
    /* margin-top: -0.5vw; */
    border-radius: 0.5vw;
    font-size: 4vw;
}
  }
